# TELEGRAM_BOT_TOKEN=<token_dari_botfather>
# DATABASE_URL=mysql+pymysql://<USER_DATABASE>:<PASSWORD_ANDA>@db:<PORT_ANDA>/pasarin_db
# GEMINI_API_KEY=<isi_api_key_anda_di_sini>
# MYSQL_ROOT_PASSWORD=<isi_password>
# MYSQL_DATABASE=<isi_nama_database>
# DB_PORT_HOST=3307
# DB_PORT_CONTAINER=3306